// body {
//   background-color: blue;
// }

main {
  margin: 0 auto;
  max-width: 960px;
  background-color: red;
}

header {
  width: 100%;
  max-height: 600px;
}

section {
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
  left-margin: 20px;
}

#grid {
  width: 450px;
  padding: 0;
  height: 450px;
  background-position: center;
  background-size: contain;
  &.roundOne {
    background-image: url('../../public/assets/images/alaska-thunderfuck-5000.jpg');
  }
  .tiles {
    background-image: url('../../public/assets/images/tile.jpg');
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
    float: left;
    border: 1px solid black;
  }
}

.takeTile {
  margin-top: 25px;
  text-align: center;
  height: 25px;

}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.scoreBox {
  height: 100px;
  border: 2px solid black;
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 45px;
  width: 380px;
  height: 30px;
  text-align: center;
}

.submitAnswer {
  height: 20px;
  width: 280px;
  display: block;
}
