body {
  margin: 0 auto;
  background-color: #000;
  & p {
    font-family: 'Russo One', sans-serif;
    margin: 0 auto;
  }
}

main {
  margin: 0 auto;
  max-width: 960px;
  background-color: red;
}

header {
  width: 100%;
  max-height: 600px;
  padding: 0;
  margin: 0;
  background-color: #000;
  & h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    color: #f44bab;

    &.animated {
      animation: fadeAndScale 1.2s ease-in;

    }
  }

}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale3d(.75, .75, 1);

  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);

  }
}

section {

    &.left{
      width: 50%;
    }
    &.right{
      width: 50%;
    }
}

section {

  &.introduction{
    height: 960px;
    background-image: url('../../public/assets/images/rainbow.jpg');
    margin:0;
    & p {
      margin:0;

    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
  left-margin: 20px;
}

#grid {
  width: 450px;
  padding: 0;
  height: 450px;
  background-position: center;
  background-size: contain;
  &.roundOne {
    background-image: url('../../public/assets/images/alaska-thunderfuck-5000.jpg');
  }
  .tiles {
    background-image: url('../../public/assets/images/tile.jpg');
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
    float: left;
    border: 2px solid pink;
  }
}

.takeTile {
  margin: 20px auto;
  text-align: center;
  height: 25px;
  width: 150px;

}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.scoreBox {
  height: 100px;
  border: 2px solid pink;
    & p {
      text-align: center;
      font-size:40px;
      color: yellow;
    }
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 45px;
  width: 380px;
  height: 30px;
  text-align: center;
}

.submitAnswer {
  height: 20px;
  width: 240px;
  display: block;
  text-align: center;
  margin: auto;
}

.resultsBox {
  height: 400px;
  border: 1px solid white;
  & p {
    font-size:20px;
    color: yellow;
  }
  & img {
    width: 450px;
    height: 250px;
    margin: 10px 15px;
  }
}
