body {
  margin: 0 auto;
  background-image: url('../../public/assets/images/purple_glitter.jpg');
  background-size: cover;
  font-family: 'Russo One', sans-serif;
  // & p {
  //
  //   margin: 0 auto;
  // }
}

main {
  margin: 0 auto;
  max-width: 960px;
}

header {
  width: 100%;
  max-height: 800px;
  padding: 0;
  margin: 0;
  & h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 80px;
    margin: 0;
    text-align: center;
    color: #f44bab;

    &.animated {
      animation: fadeAndScale 1.2s ease-in;

    }
  }

}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale3d(.75, .75, 1);

  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);

  }
}

section {

    &.left{
      width: 50%;
    }
    &.right{
      width: 50%;
    }
}

section {

  &.introduction.show {
    height: 800px;
    overflow: hidden;
    background-image: url('../../public/assets/images/rainbow.jpg');
    background-size: cover;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    color: #fff;
    font-size: 25px;
    position: absolute;
    & p {
      margin:0;

    }
    & h3 {
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
    }
    & button {
      display: block;
      margin: 50px auto;
    }
  }
  &.introduction.hide {
    height: 0;
  }

}

.left {
  float: left;
}

.right {
  float: right;
  left-margin: 20px;
}

#grid {
  width: 450px;
  padding: 0;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.roundOne {
    background-image: url('../../public/assets/images/alaska-thunderfuck-5000.jpg');
  }
  &.roundTwo {
    background-image: url('../../public/assets/images/alyssa.png');
  }
  &.roundThree {
    background-image: url('../../public/assets/images/bianca-del-rio.jpg');
  }
  &.roundFour {
    background-image: url('../../public/assets/images/bob.jpg');
  }
  &.roundFive {
    background-image: url('../../public/assets/images/willam.jpg');
  }
  &.roundSix {
    background-image: url('../../public/assets/images/katya.jpg');

  }
  .tiles {
    background-image: url('../../public/assets/images/tile.jpg');
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
    float: left;
    border: 2px solid #F44BAB;
  }
}

.takeTile {
  margin: 20px auto;
  text-align: center;
  height: 25px;
  width: 150px;

}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.scoreBox {
  height: 100px;
  // border: 2px solid pink;
    & p {
      text-align: center;
      font-size:40px;
      color: yellow;
      margin-top: 0;
    }
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
  width: 380px;
  height: 30px;
  text-align: center;
}

.inputButtons {

  height: 50px;
  margin: 0 auto;
  padding: 0 auto;

    // & button.submitAnswer  {
    //
    //   height: 30px;
    //   width: 150px;
    //   display: inline;
    //   text-align: center;
    //   margin: 0 auto;
    //   padding: 0 auto;
    //
    //
    // }
    // & button.reset {
    //
    //   height: 30px;
    //   width: 150px;
    //   display: inline;
    //   text-align: center;
    //   border-radius: 10px;
    //
    //
    // }
}

button {
  height: 35px;
  width: 150px;
  display: inline;
  text-align: center;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #7c3b60;
  background-color: #F44BAB;

}

button:active {
  outline: none;
  border: none;
}


.resultBox {
  height: 400px;
  & p {
    font-size:23px;
    color: yellow;
    text-align: center;
    margin: 7px;
  }
  & img#gifs {
    width: 450px;
    height: 250px;
    margin: 10px 15px;
    // border: 5px solid red;
  }
}
